* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    min-height: 100vh;
    background: radial-gradient(#003 10%, black 100%);
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

.head {
    position: sticky;
    top: 0;
    background-color: #0035;
    padding: 1rem;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.head h1 {
    font-size: 26px;
    font-weight: 400;
    background: linear-gradient(140deg, red 1%, blue 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    margin-left: 20px;
}

.hero {
    background: radial-gradient(#003 10%, black 100%);
    background-position: center;
    background-attachment: fixed;
    margin: 0 10px;
    margin-top: 30px;
    padding: 2rem;
    border: none;
    border-radius: 15px;
}

.hero img:nth-of-type(1) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid #090909;
    display: block;
}

.hero h2 {
    font-size: 34px;
    font-weight: 700;
    background: linear-gradient(140deg, red 1%, blue 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.hero p {
    color: #fff;
    text-align: justify;
    padding: 0.5rem 0;
    font-weight: 200;
    line-height: 25px;
}

.hero-footer {
    display: none;
}

.hero-footer span {
    display: inline-block;
    display: none;
}

.hero-footer span img:nth-of-type(1) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    display: none;
}

.cta {
    display: inline-block;
    margin-left: -0.5rem;
}

.cta button {
    width: 120px;
    height: 50px;
    display: inline-block;
    margin: 0.5rem;
    border-radius: 15px;
    font-size: 1rem;
    color: white;
    background-color: #1f1f1f;
}

.primary-btn {
    background: linear-gradient(230deg, red 1%, blue 100%);
    border: none;
}

.secondary-btn {
    background: linear-gradient(140deg, red 1%, blue 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: none;
}

.about {
    background: radial-gradient(#003 10%, black 100%);
    background-position: center;
    background-attachment: fixed;
    margin-top: 50px;
    border: none;
}

.about-header {
    position: sticky;
    top: 0;
    padding: 1rem;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.about-header h2 {
    font-weight: 400;
    background: linear-gradient(140deg, red 1%, blue 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    margin-left: 20px;
}

.about-body {
    padding: 2rem;
    padding-top: 0;
}

.about p {
    color: #fff;
    padding: 0.5rem 0;
    font-weight: 400;
    line-height: 25px;
    font-weight: 200;
}

.skills, .projects {
    background: radial-gradient(#003 10%, black 100%);
    background-position: center;
    background-attachment: fixed;
    margin-top: 50px;
    border: none;
}

.skills-header, .projects-header {
    position: sticky;
    top: 0;
    padding: 1rem;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.skills-header h2, .projects-header h2 {
    font-weight: 400;
    background: linear-gradient(140deg, red 1%, blue 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    margin-left: 20px;
}

.skills-header p, .projects-header p {
    font-weight: 200;
    margin-left: 20px;
    color: #fff;
    font-style: italic;
}

.skills-container, .projects-container {
    padding: 2rem;
    padding-top: 0;
    margin-left: -10px;
}

.skills-card {
    height: 100px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #0039;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #fff1;
    padding: 1rem 2rem;
    gap: 30px;
}

.skills-card i {
    background-color: purple;
    width: 80px;
    height: 80px;
    font-size: 4rem;
}

.skills-card h6 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
}

.projects-header {
    z-index: 1;
}

.projects-container {
    margin-top: 10px;
}

.projects-card {
    margin: 0 auto;
    position: relative;
    width: 350px;
    height: 300px;
    border: 1px solid #003;
    border-radius: 15px;
    overflow: hidden;
}

.projects-card:hover {
    transform: scale(1.05) translateX(-10px);
    box-shadow: 0px 0px 100px 1px #f003;
    transition: ease-in-out 0.6s;
}

.card-overlay-bottom:hover {
    background-color: #0038;
    transition: ease-in-out 0.6s;
}

.card-bg img {
    width: 100%;
}

.card-overlay {
    position: absolute;
    background-color: #cc02;
    width: 100%;
    height: 100%;
    top: 0;
}

.card-overlay-head {
    padding: 0.5rem 1rem;
}

.card-overlay-head h2 {
    background-color: #0037;
    display: inline-block;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
}

.card-overlay-bottom {
    display: block;
    position: absolute;
    background: #003;
    bottom: 0;
    border: none;
    padding: 1rem;
}

.card-overlay-bottom h1 {
    background: linear-gradient(140deg, red 1%, blue 100%);
    background-position: center;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-clip: text;
}

.card-overlay-bottom p {
    color: #fff;
    font-weight: 200;
}

.card-overlay-bottom a {
    text-decoration: none;
    padding: 1px 5px;
    border: none;
    border-radius: 10px;
    color: #9b9b9d;
    padding: 5px 10px;
    float: right;
}

.card-overlay-bottom a:hover {
    color: red;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}